@import "tailwindcss";

@plugin "tailwind-scrollbar";

:root {
  --background: #eef3f9;
  --foreground: #000000;
  --accent: #009eff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-montserrat: var(--font-montserrat);
  --font-jura: var(--font-jura);
}

body {
  background: var(--background);
  color: var(--foreground);
}

